.areas {

    padding: 10px;
    margin: 30px;
    background-color: $color-article;
    border-radius: 0px;
    border: 1px solid #000000;
    -webkit-transition: 1s linear;
    transition: 1s linear;


    &:hover{
            border-radius: 20px;
            -webkit-box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
            box-shadow: 10px 10px 14px 2px rgba(0,0,0,0.47);
          }
        

      


    
    h1{
        background-color: $color-p-area;
    }
    p {
        color: $color-h2-area;
       
    }

}

