
.carousel-inner h5{
    color: rgba(10, 52, 143, 0.911);
    text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
    }
    
    .carousel-inner p
    {
      color: rgba(10, 52, 143, 0.726);
      text-shadow:
    -1px -1px 0 #fff,  
     1px -1px 0 #fff,
    -1px 1px 0 #fff,
     1px 1px 0 #fff;
      }
      .parrafoImportante {
         
        color: $color-h2-nosotros;
        -webkit-transition: color 1s linear;
        transition: color 1s linear;
        
        &:hover{
          color: red;
        }
        
      }
